<!DOCTYPE html>
<html>
  <head>
    <title>web</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header class="text-center">
		<a class="title" href="/">Title</a>
	</header>
	<br>
	<h1>게시판 내용</h1>
	<table width="100%">
		<input type="hidden" name="idx" value="<%=result.idx%>"/>
		<thead>
			<tr>
				<td><%=result.title%></td>
				<td><%=result.hit%></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>내용</td>
				<td><textarea name="content" id="content" cols="30" rows="10" required/ readonly><%=result.content%></textarea></td>
			</tr>
			<tr>
				<td colspan="2"><%=result.date%></td>
			</tr>
		</tbody>
	</table>
	<div>
		<input type="button" onclick="location.href='/report'" value=" 목록 ">
		<input type="button" onclick="location.href='/report/update/<%=result.idx%>'" value=" 수정 ">
	</div>
  </body>
</html>
